@model IEnumerable<GalleryApp.Domain.Models.User>

<table class="table">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                <a onclick="showInPopup('@Url.Action("AddOrEditUser","Admin",new {id=0},Context.Request.Scheme)','New User')" class="btn btn-success text-white">New User</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Login)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    <div>
                        <a onclick="showInPopup('@Url.Action("AddOrEditUser","Admin",new {id=item.Index},Context.Request.Scheme)','Update User')" class="btn btn-info text-white">Edit</a>
                        <form asp-action="DeleteUser" asp-route-id="@item.Index" onsubmit="return jQueryAjaxDelete(this)" class="d-inline">
                            <input type="submit" value="Delete" class="btn btn-danger" />
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>