@model IEnumerable<GalleryApp.Domain.Models.Genre>


    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    <a onclick="showInPopup('@Url.Action("AddOrEditGenre","Admin",new {id=0},Context.Request.Scheme)','New Genre')" class="btn btn-success text-white">New Genre</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <div>
                        <a onclick="showInPopup('@Url.Action("AddOrEditGenre","Admin",new {id=item.Index},Context.Request.Scheme)','Update Genre')" class="btn btn-info text-white">Edit</a>
                        <form asp-action="DeleteGenre" asp-route-id="@item.Index" onsubmit="return jQueryAjaxDelete(this)" class="d-inline">
                            <input type="submit" value="Delete" class="btn btn-danger" />
                        </form>
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
