@model IEnumerable<GalleryApp.Domain.Models.Genre>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New Genre</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Function
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-action="UpdateGenre" asp-route-id="@item.Index">Edit</a> |
                    <a asp-action="Get" asp-route-id="@item.Index">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Index">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>